nvenkatesan_lab1
body {
    font-family: Arial,'Times New Roman', Times, serif, sans-serif;
  }
  body {
    background-color: rgba(3, 46, 7, 0.137);
  }
 div {
    width: 1000px;
    padding: 10px;
    border: 2px solid pink;
    margin-bottom: 40;
  }
  
  label {
    display: inline-block;
    width: 100px;
    line-height: 50px;
  }
  
  input {
    margin-top: 20;
    border: 1px solid #db6767;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 160px;
  }
  
  input[type=button] {
    width: 200px;
    padding: 1px 8px 0 8px;
  }

  .split {
    display: flex;
    flex-direction: column;
  }

    
  @media (min-width: 40em) {
.split{
  flex-direction: row;
}
  .split > * {
    flex-basis: 100%;
}
}
  Image {
    display: block;
   max-width: 100%;
    background: "Sales.png" 0 0;
  }
 
